* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #fff;
}
nav {
    background-color: maroon;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    color: #fff;
}
.menu {
    display: flex;
    gap: 12px;
}

.hidden {
    display: none !important;
}

.active {
    display: flex !important;
}
